<select class="form-control" name="{{nameprefix}}value{{namesuffix}}">
    <option value="all">Wszystkie</option>
    <option value="true" {% if  filtertype.isSelected(data,"true") %} selected="selected" {% endif %}>Tak</option>
    <option value="false" {% if filtertype.isSelected(data,"false") %} selected="selected" {% endif %}>Nie</option>
</select>
